
<h1>설문참여하기</h1>
<h1>{{ question.question_text }}</h1>

{% comment %} 만약에 단일건 조회시 에러발생하면 해당 에러메시를 아래에 출력한다. {% endcomment %}
{% if error_message %}<p>{{error_message}}</p>{% endif %}

<form action="{% url 'polls:vote' question.id%}" method="post">
{% csrf_token %}



{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" />
    <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br/>
{% endfor %}

    <input type="submit" value="선택" />

</form>